@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

body .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vw;
}

body .top .logo {
  margin-left: 6vw;
}

body .top .Menu-mobile {
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 600px) {
  body .top .Menu-mobile {
    display: block;
    margin-left: auto;
    margin-top: -10px;
    padding-right: 10px;
  }
}

body .top nav {
  margin-left: 26vw;
  margin-top: -17px;
}

@media (max-width: 600px) {
  body .top nav {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(47, 53, 79, 0.9);
    top: 40px;
    left: +100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0;
    z-index: 20;
  }
}

body .top nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 600px) {
  body .top nav ul {
    display: block;
    text-align: center;
    padding: 0;
  }
}

body .top nav li {
  position: relative;
}

body .top nav li :hover {
  padding: 1vw 1.2vw;
  border: 1px solid;
  border-radius: 5px;
  color: red;
}

body .top nav li a {
  text-decoration: none;
  padding: 4vw 1.2vw;
  font-size: 1.3vw;
}

@media (max-width: 600px) {
  body .top nav li a {
    color: #ffffff;
  }
}

body nav.active {
  left: 0;
  display: block;
}

.contoner {
  margin-top: 40px;
}

.contoner .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .contoner .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: right;
  }
}

.contoner .section1 .paragraf1 {
  max-width: 80%;
  margin-left: 30px;
}

@media (max-width: 600px) {
  .contoner .section1 .paragraf1 {
    text-align: center;
    margin: auto;
  }
}

.contoner .section1 .paragraf1_img {
  z-index: 2;
}

.contoner .section1 .paragraf1_img .paragraf1_image {
  margin-right: 0;
}

.contoner .section1 .paragraf1_img .paragraf1_image img {
  width: 80%;
}

.contoner .section1 .paragraf1_img .background1 {
  margin-top: -48%;
  margin-left: 20%;
  padding: 26% 20%;
  background-color: #4f64d9;
  border-radius: 40vw  0 0 40vw;
  z-index: 0;
}

.contoner .section2 .Featur {
  max-width: 65vw;
  text-align: center;
  margin: 70px auto;
}

.contoner .tab {
  margin-bottom: 20px;
  position: relative;
  background: #fff;
  width: 70%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

.contoner ul {
  margin: auto;
  width: 560px;
}

@media (max-width: 600px) {
  .contoner ul {
    margin: auto;
    width: 200px;
  }
}

.contoner .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .contoner .tabs {
    display: block;
  }
}

.contoner .tabs li {
  line-height: 38px;
  list-style: none;
  padding: 0;
  position: relative;
  text-align: center;
}

.contoner .tabs a {
  font-weight: 500;
  display: block;
  outline: none;
  padding: 0 2vw;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contoner .tabs_item {
  display: none;
  padding: 30px 0;
}

.contoner .tabs_item h4 {
  font-weight: bold;
  color: #0c0606;
  font-size: 20px;
  padding-top: 30px;
}

@media (max-width: 600px) {
  .contoner .tabs_item h4 {
    text-align: center;
  }
}

.contoner .tabs_item img {
  width: 50%;
  float: left;
  margin-right: 30px;
  padding: 2vw;
}

@media (max-width: 600px) {
  .contoner .tabs_item img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.contoner .tabs_item:first-child {
  display: block;
}

.contoner .current a {
  color: #140505;
  border-bottom: 2px solid red;
}
/*# sourceMappingURL=style.css.map */